body {
  padding: 0;
  margin: 0;
}

#container {
  align-content: inline-block;
  flex-direction: row;
  display: flex;
  background-color: #f2f2f2;
  width: auto;
  height: 100%;
  cursor: default;
  color: #f2f2f2;
  background-color: #222222;
}

#group-menu {
  flex: 2;
  /* padding: 20px;
        margin-left: 10px; */
  border-style: solid;
  border-width: 0 0 0 0;
  text-align: left;
  margin-top: -40px;
}

#menu-top {
  padding: 10 15 0 15;
}

#menu-bottom {
  padding-top: 1px;
  text-align: left;
  top: 50%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: flex-start;
  /* background-color: white; */
}

.group {
  height: 80px;
  margin: 3 0 0 0;
  border-bottom: 0px;
  width: 100%;
  display: flex;
  justify-content: left;
  padding-left: 30px;
  align-items: center;
  font-size: 25px;
  font-family: sans-serif;
  font-weight: 200;
}

#selected-group {
  color: rgb(27, 108, 110);
}

#group-create {
  padding-top: 10px;
  justify-content: center;
}

#group-create-button {
  padding: 10px;
  border-style: solid;
  border: 2px solid rgb(27, 108, 110);
  border-radius: 5px;
  align-self: flex-end;
  margin-bottom: 7px;
  margin-right: 20px;
  justify-content: center;
  font-family: sans-serif;
}

#group-create-button:hover {
  transform: scale(1.05);
  background-color: rgb(27, 108, 110);
  cursor: pointer;
}

.group:hover {
  color: rgb(27, 108, 110);
  cursor: pointer;
}